<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Three.js Video Texture + Recorder</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r146/three.min.js"></script>

   
   <script src="https://cdn.jsdelivr.net/npm/gl-transitions@1.43.0/dist/gl-transitions.min.js"></script>
  <style>
 html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
  }
  #canvasContainer {
    width: 100%;
    height: 100%;
    position: relative;
  }
  canvas{
        display: block;
    width: 833px;
    height: 1816px;
    margin: auto;
}
  
  #controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
  }
  #controls button {
    padding: 10px 20px;
    font-size: 16px;
  }
  #preview {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 200px;
    border: 2px solid #fff;
    z-index: 10;
  }
  </style>
</head>
<body>

 <div id="canvasContainer"></div>
<div id="controls">
  <button id="startBtn">Start Recording</button>
  <button id="stopBtn" disabled>Stop Recording</button>
  <button id="shareBtn" disabled>Share Video</button>
</div>
<video id="preview" controls></video>
  <script src="/main-bundled.js"></script>
</body>
</html>
